<?xml version="1.0"?>
<launch>
  <!-- Launch GPD related files and the pick_and_place node -->

  <rosparam file="$(find uml_hri_nerve_pick_and_place)/cfg/fetch_workstation_sim_params.yaml" />

  <include file="$(find uml_hri_nerve_pick_and_place)/launch/gpd_fetch.launch" />
  <include file="$(find fetch_moveit_config)/launch/move_group.launch" /> <!-- Fetch Move Groups -->
  <node name="fetch_pick_and_place" pkg="uml_hri_nerve_pick_and_place" type="fetch_pick_and_place" />

</launch>