<?xml version="1.0"?>
<launch>

  <include file="$(find uml_hri_nerve_pick_and_place)/launch/gpd_ur5.launch" />

  <include file="$(find ur_e_gazebo)/launch/gazebo_universal_robot.launch" >
    <arg name="model" value="ur5"/>
    <arg name="sim_workstation" value="true"/>
    <arg name="gripper" value="robotiq_2f_85"/>
    <arg name="wrist_cam" value=""/>
  </include>

  <rosparam file="$(find uml_hri_nerve_pick_and_place)/cfg/ur5e_workstation_sim_params.yaml" />
  <param name="weights_file" value="/home/brian/armada_ws/src/gpd/models/lenet/15channels/params/" />
  <!-- <rosparam param="weights_file" value="$(eval '/home/' + env('USER') + '/armada_ws' + '/src/gpd/models/lenet/15channels/params/')" />-->

  <node name="pick_and_place" pkg="uml_hri_nerve_pick_and_place" type="pick_and_place" />

</launch>
