<?xml version="1.0"?>
<launch>

  <include file="$(find uml_hri_nerve_pick_and_place)/launch/gpd_ur5.launch" />

  <node name="Robotiq2FGripperTcpNode" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperTcpNode.py" args="10.10.10.42"/>

  <include file="$(find uml_hri_nerve_armada_workstation)/universal_robot/ur_e_bringup/launch/ur5e_bringup.launch" >
    <arg name="robot_ip" value="10.10.10.152"/>
    <arg name="kinematics_config" value="$HOME/my_robot_calibration.yaml"/>
    <arg name="robot_description_file" value="$(find uml_hri_nerve_armada_workstation)/universal_robot/ur_e_description/urdf/ur5e_robot_d435_millibar_robotiq_2f_85_workstation.urdf.xacro"/>
    <arg name="limited" value="false"/>
    <arg name="model" value="ur5"/>
    <arg name="sim_workstation" value="true"/>
    <arg name="gripper" value="robotiq_2f_85"/>
    <arg name="wrist_cam" value="d435_millibar"/>
  </include>

</launch>
